Makefile
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
install-sh
src/META
src/Makefile
src/._bcdi/
src/._d/
src/._ncdi/
*.a
*.cm*
*.o
*.so
config.h
config.h.in
config.h.in~
examples/Makefile.decode
examples/Makefile.encode
examples/decode
examples/encode
._d/
.*sw*
